<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="tag">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="/js/bootstrap/assets/css/bootstrap.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/font-awesome.css" />
<link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/chosen.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/bootstrap-editable.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/select2.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/colorbox.css" />

<link rel="stylesheet" href="/js/bootstrap/assets/css/jquery-ui.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/jquery-ui.custom.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/ui.jqgrid.css" />

<link rel="stylesheet" href="/js/bootstrap/assets/css/ace.css" />
<link rel="stylesheet" href="/js/bootstrap/assets/css/ace-fonts.css" />
<link rel="stylesheet" href="/css/ga_base.css" />
<link rel="stylesheet" href="/css/index.css" />


<!--[if !IE]> -->
 <script src="/js/bootstrap/assets/js/jquery.js" ></script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
 <script src="/js/bootstrap/assets/js/jquery1x.js}" />
</script>
<![endif]-->
<!-- 兼容高版本jquery下过时的api -->
<script type="text/javascript">
	jQuery.browser = {};
	(function() {
		jQuery.browser.msie = false;
		jQuery.browser.version = 0;
		if (navigator.userAgent.match(/MSIE ([0-9]+)./)) {
			jQuery.browser.msie = true;
			jQuery.browser.version = RegExp.$1;
		}
	})();
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

$(document).ajaxSend(function(e, xhr, options) {
	if(xhr.setRequestHeader){
		xhr.setRequestHeader(header, token);
	}
});
</script>
<script src="/js/bootstrap/assets/js/bootstrap.js" ></script>
<script src="/js/bootstrap/assets/js/jquery.dataTables.js" ></script>
<script src="/js/bootstrap/assets/js/jquery.dataTables.bootstrap.js" ></script>
<script src="/js/bootstrap/assets/js/jqGrid/jquery.jqGrid.src.js"></script>
<script src="/js/bootstrap/assets/js/jqGrid/i18n/grid.locale-cn.js"></script>
<script src="/js/bootstrap/assets/js/jquery-ui.js"></script>
<script src="/js/bootstrap/assets/js/jquery-ui.custom.js"></script>
<script src="/js/bootstrap/assets/js/jquery.ui.touch-punch.js"></script>
<script src="/js/bootstrap/assets/js/ace/elements.fileinput.js"></script>
<script src="/js/bootstrap/assets/js/bootbox.js"></script>
<script src="/js/bootstrap/assets/js/ace/ace.js"></script>
<script src="/js/bootstrap/assets/js/ace/ace.sidebar.js"></script>
<script src="/js/bootstrap/assets/js/jquery.form.js"></script>
<!-- <script src="/js/bootstrap/assets/js/jquery.validate.js}"></script> -->
<script src="/js/common/jquery.validate.min.js"></script>
<script src="/js/bootstrap/assets/js/additional-methods.js"></script>
<script src="/js/common/jquery.metadata.js"></script>
<script src="/js/common/messages_cn.js"></script>
<script src="/js/bootstrap/assets/js/chosen.jquery.js"></script>
<script src="/js/bootstrap/assets/js/x-editable/bootstrap-editable.js"></script>
<script src="/js/bootstrap/assets/js/x-editable/ace-editable.js"></script>
<script src="/js/bootstrap/assets/js/jquery.colorbox.js"></script>
<script src="/js/bootstrap/assets/js/select2.js"></script>
<script src="/js/common/jquery.ztree.core-3.5.js"></script>
<script src="/js/common/jquery.ztree.excheck-3.5.js"></script>
<script src="/js/common/mask.js" ></script>
<script src="/js/common/kindeditor/kindeditor.js" type="text/javascript"></script>
<script src="/js/common/kindeditor/lang/zh_CN.js" type="text/javascript"></script>
<script src="/js/common/global.js" ></script>
<script src="/js/common/home.js" ></script>
<script src="/js/common/Highcharts-4.2.3/js/highcharts.js"></script>
</head>

</html>