<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>客户类型管理</title>
<head th:include="tag::tag" />
<script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/customer/role.js}"></script>

</head>
<body>
	<div>
	    <!-- div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="/">首页</a></li>
				<li><a th:href="@{/role/}">角色</a></li>
			</ul>
		</div> -->
		<div class="page-header">&nbsp;</div>
		
	<input type="hidden" id="editAuth" sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_CUSTOMER')" value="true"/>

		<div class="left-10 de-size-wrapper" id="searchDiv">
			<div class="profile-info-value searchTr">
				<label>类型名称：</label>
					<input type="text" placeholder="" class="propertyValue1" /> <input
						type="hidden" value="details" class="propertyName" /> <input
						type="hidden" value="5" class="tempMatchType" /> <input
						type="hidden" value="String" class="tempType" />
					<!-- 3不等于 4等于 5包含 6小于 7大于  8小于等于  9大于等于  10之间  11IN查询 12NOT IN 13NULL 14NOT NULL -->
			</div>
			
			<div class="profile-info-value searchTr">
				<label>状态：</label>
					<select class="propertyValue1">
						<option value="">全部</option>
						<option value="true">启用</option>
						<option value="false">停用</option>
					</select> <input type="hidden" value="enable" class="propertyName" />
					<input type="hidden" value="4" class="tempMatchType" />
						<input type="hidden" value="Boolean" class="tempType" />
			</div>

			<div class="profile-info-value">
					<button type="button" class="btn g-btn-primary" onclick="search();">
						<i class="fa fa-search"></i> 搜索
					</button>
			</div>
			<div class="profile-info-value">
				<a sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_CUSTOMER')" href="javascript:void(-1)" onclick="openWin('/customerRole/add','添加客户类型');" class="btn g-btn-primary"><i class='ace-icon fa fa-plus white'></i>添加客户类型</a>
			</div>
		</div>
		<div class="col-md-12" id="roleTableDiv" style="overflow-y: auto; overflow-x: auto">
			<table id="roleTable"
				class="table table-striped table-bordered table-hover"></table>
		</div>
	</div>
</body>
</html>